.principal{
    //border: 3px solid red;
     width: 50%;
     height: 80%;
     margin: auto;
    
 }
 
 
 .form-principal{
   //border: 2px solid blue;
   padding: 100px;
   margin-top: 10%;
 }
 
 .submit-button{
     width: 50%;
     margin-left: 25%;
     margin-bottom: 20px;
 }
 
 .meio{
     margin-left: 40%;
 }
 
 