<div class="principal">
    <div class="form-principal">
        <h1>Cadastrar-se</h1>
        <form [formGroup]="userCadastroForm">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Digite seu Nome</mat-label>
                <input matInput type="email" formControlName="nomeUsuario">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Digite seu Sobrenome</mat-label>
                <input matInput type="email" formControlName="sobrenomeUsuario">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Digite seu email</mat-label>
                <input matInput type="email" formControlName="emailUsuario">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Digite sua senha</mat-label>
                <input matInput type="password" formControlName="senhaUsuario">
            </mat-form-field>
            <button class="submit-button" mat-raised-button color="primary"  (click)="cadastrarUsuario()">Cadastrar</button>
        </form>


    </div>
</div>